{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px ;
    background-color: rgb(148, 139, 229);
    display: flex;
    justify-content: center;
    z-index: 100;
}

.logo {
    font-size: 30px;
    color: black;
}

.profile {
    background-color: rgb(148, 139, 229);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 60%;
    margin-bottom: 0px;
    margin-left: 150px;
}

.profile h2 {
    font-size: 35px;
    color: #black;
}

.profile p {
    font-size: 20px;
    color: black;
    margin-top: 5px;
}

.favorite-video {
    background-color: rgb(148, 139, 229);
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 923px;
}

.favorite-video Video {
    width: 200px;
    margin-left: 25px;
}

.favorite-video h3 {
    font-size: 35px;
    color: #black;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

.favorite-music {
    background-color: rgb(148, 139, 229);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.favorite-music h4 {
    font-size: 30px;
    color: #black;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
}

.favorite-music audio {
    width: 100%;
    border-radius: 10px;
}