body {
    background: linear-gradient(to right, pink, hsl(317, 100%, 74%));
    align-content: center;
   } 
   header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px ;
    background: linear-gradient(to right, pink, hsl(317, 100%, 74%));
    display: flex;
    justify-content: center;
    z-index: 100;
   }
   .logas {
  font-size: 40px;
  color: rgb(248, 100, 164);
  }
.join {
  background-color: hsl(322, 100%, 86%);
    padding: 20px;
    border-radius: 10px;
    width: 35%;
    color: rgb(248, 100, 164);
    margin-top: 20px;
    margin-left: 400px;
}
.a {
    text-align: center;
}
.b {
    text-align: center;
}
.c {
    text-align: center;
}
.d {
    text-align: center;
}